*{
  margin:0px;
  padding: 0px;
  font-family: Helvetica;
}
body{
  margin: 0px;
  padding: 0px;
}
.Automat{
  display: flex;
  gap: 50px;
}
.stateCircle,.acceptingCircle{
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 50%;
  color: black;
  border-style: solid;
  width: 15vh;
  height: 15vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.acceptingCircle{
  width: 12vh;
  height: 12vh;
}

.stateText{
  font-weight:500;
  font-size: 4vh;
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
}

.transitionLabel{
  font-size: 1.5em;
  /*lifts the label so its visable*/
  transform: translate(0,-50%);
  margin: 0px;
  padding: 0px;
}

.loopCircle {
  width: 10vh;
  height: 10vh;
  border: 6px solid;
  border-radius: 50%;
  position: absolute;
  top: 0.5vh;
}

.loopCircle:before {
  content: "";
  display: block;
  width: 12vh;
  height: 7vh; /* Increase the height value */
  background: #fff;
  position: absolute;
  bottom: -1.5vh; /* Adjust the bottom value to maintain positioning */
  top: 0; /* Set top to 0 to maintain positioning */
  right: -1vh;
  margin-top: auto;
}


.loopCircle:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 1.3vh solid transparent;
  border-right: 1.3vh solid transparent;
  border-top: 2vh solid #000;
  position: absolute;
  bottom: 4.6vh;
  right: -1.3vh;
}



.state{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height:25vh;
}