@tailwind components;
@tailwind utilities;
@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
*{
  margin:0px;
  padding: 0px;
  font-family: Helvetica;
}
body{
  margin: 0px;
  padding: 0px;
}
.Automat{
  display: flex;
  justify-content:center;
  gap: 50px;
  background-color: white;
  margin-right: 8%;
}
.stateCircle,.acceptingCircle{
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 50%;
  color: black;
  border-style: solid;
  width: 15vh;
  height: 15vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.acceptingCircle{
  width: 12vh;
  height: 12vh;
}

.stateText{
  font-weight:500;
  font-size: 4vh;
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
}

.transitionLabel{
  font-size: 1.5em;
  /*lifts the label so its visible*/
  transform: translate(0,-50%);
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

.loopCircle {
  width: 10vh;
  height: 10vh;
  border: 6px solid;
  border-radius: 50%;
  position: absolute;
  top: 4.5vh;
}

.loopCircle:before {
  content: "";
  display: block;
  width: 12vh;
  height: 7vh;
  background-color: white;
  position: absolute;
  bottom: -1.5vh;
  margin-top: auto;
}


.loopCircle:after {
  content: "";
  border-left: 1.3vh solid transparent;
  border-right: 1.3vh solid transparent;
  border-top: 2vh solid #000;
  position: absolute;
  bottom: 4.6vh;
  right: -1.3vh;
}

.state{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  position: relative;
  height:24vh;
}

.loopContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loopContainer .transitionLabel {
  position: relative;
  top: -3.5vh;
}