*{
  margin:0px;
  padding: 0px;
}
.Automat{
  display: flex;
  gap: 50px;
}
.stateCircle,.acceptingCircle{
  display:flex;
  border-radius: 50%;
  color: black;
  border-style: solid;
  width: 5em;
  height: 5em;
  justify-content: center;
  align-items: center;
}

.acceptingCircle{
  width: 4em;
  height: 4em;
}

.stateText{
  font-weight:500;
  font-family: Helvetica;
}

.transitionLabel{
  font-size: 1.5em;
  /*lifts the label so its visable*/
  transform: translate(0,-50%);
}